
Term_Project/Term_Project/obj/Term_ProjectServer.csproj.nuget.g.props
Term_Project/Term_Project/obj/Term_ProjectServer.csproj.nuget.dgspec.json
Term_Project/Term_Project/obj/project.nuget.cache
Term_Project/Term_Project/obj/project.assets.json
Term_Project/Term_Project/obj/Debug/net5.0/Term_ProjectServer.csproj.AssemblyReference.cache
Term_Project/Term_Project/obj/Debug/net5.0/Term_ProjectServer.assets.cache
Term_Project/.vs/Term_Project/v16/.suo
Term_Project/.vs/Term_Project/v16/.suo
Term_Project/Term_Project/obj/Debug/net5.0/Term_ProjectServer.assets.cache
Term_Project/Term_Project/obj/project.assets.json
Term_Project/Term_Project/obj/project.nuget.cache
Term_Project/Term_Project/obj/Term_ProjectServer.csproj.nuget.dgspec.json
Term_Project/Term_Project/obj/Term_ProjectServer.csproj.nuget.g.props
Term_Project/.vs/Term_Project/v16/.suo
Term_Project/Term_Project/obj/Debug/net5.0/Term_ProjectServer.assets.cache
Term_Project/Term_Project/obj/project.assets.json
Term_Project/Term_Project/obj/project.nuget.cache
Term_Project/Term_Project/obj/Term_ProjectServer.csproj.nuget.dgspec.json
Term_Project/Term_Project/obj/Term_ProjectServer.csproj.nuget.g.props
